table {
    width: 50%;
    margin: auto;
    border-collapse: collapse;
    text-align: center;
}
th, td {
    padding: 10px;
    border: 1px solid black;
}
th {
    background-color: #4CAF50;
    color: white;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:nth-child(odd) {
    background-color: grey;
}