
{% extends "base.html"%}
{% block title %}
  Home
{% endblock title %}

{% block content %}

{% endblock content %}

{% block body %}

{% load static %}


 <!-- Features Section -->
 <!--<section id="features" class="py-5">
   
</section> -->



<!-- Blog Section -->
<section id="blog" class="py-5">
     <div class="container">
        <h2 class="text-center mb-4 fw-bold" style="font-size: 2rem; color: #dbd8d8;" id="feature">Our Features</h2>


        <div class="row" >
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body text-center">
                        
                        <h5 class="card-title"><a href="/alerts">Real-time Inventory Alerts</a></h5>
                        
                       
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title"><a href="/Vsub">Food Donation </a></h5>
                        
                    </div>
                </div>
            </div>
            <div class="col-md-4" >
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title"><a href="/received-chart">Sustainability Impact Tracking</a></h5>
                        
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title"><a href="/leaderboard">leaderboard for Top Contributors</a></h5>
                        
                    </div>
                </div>
            </div>


        </div>
    </div>

    <!--Blog section in here -->
    <div class="container">
    <h2 class="text-center mb-4">Latest Blog Posts</h2>
    <div class="row" id="blog-post-container">
        <!-- Blog cards will be inserted here dynamically -->
    </div>
</div>

<script>
document.addEventListener("DOMContentLoaded", function () {
    fetch("/api/blogs/")
        .then(response => response.json())
        .then(data => {
            const container = document.getElementById("blog-post-container");
            container.innerHTML = "";
            data.forEach(blog => {
                const card = `
                    <div class="col-md-4">
                        <div class="card mb-4">
                            <img src="${blog.image}" class="card-img-top" alt="${blog.title}">
                            <div class="card-body">
                                <h5 class="card-title">${blog.title}</h5>
                                <p class="card-text">${blog.summary}</p>
                           <a href="/blog-detail/?id=${blog.id}" class="btn btn-secondary">Read More</a>



                            </div>
                        </div>
                    </div>
                `;
                container.innerHTML += card;
            });
        })
        .catch(error => {
            console.error("Failed to load blogs:", error);
        });
});
</script>



  
{% endblock body %}
   

   

