{% extends 'base.html' %}
{% block content %}



<style>
/* Glass-style login box */
.login-container {
    max-width: 400px;
    margin: 2px auto;
    background: rgba(29, 26, 26, 0.08);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(5px);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.4);
    color: white;
}

/* Header text */
.login-container h2 {
    margin-bottom: 2px;
    color: #ffffff;
}

/* Form inputs */
.login-container input,
.login-container select,
.login-container textarea {
    width: 100%;
    padding: 10px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 8px;
    margin-bottom: 1px;
    color:rgb(255, 255, 255) ;
}
.login-container input:focus {
    background: rgba(44, 42, 42, 0.62);
    outline: none;
}

/* Button style */
.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #00b894;
    border: none;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    transition: background 0.5s ease;
}

.login-container button:hover {
    background-color: #019875;
}

/* Alert message */
.alert {
    background-color: rgba(255, 200, 0, 0.2);
    color: white;
    border: none;
    border-radius: 6px;
}
</style>


<div class="container mt-5">
    <div class="login-container">
        <h2 class="text-center">Sign In</h2>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-warning">{{ message }}</div>
            {% endfor %}
        {% endif %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-primary" type="submit">Login</button>
        </form>
    </div>
</div>
{% endblock %}
